<div class="log-in">
  <h2 class="form-title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field-space">
      <%= f.label :name, class: "form-field" %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field field-space">
      <%= f.label :email, class: "form-field" %><br/>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field field-space">
      <%= f.label :password, class: "form-field" %>
      <% if @minimum_password_length %>
        <em class="form-field">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <br>
      <%= f.submit "Join now" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>