<section>
	<h3 data-target="#hall-of-fame" data-toggle="collapse">
		Hall of Fame
	</h3>

	<ul id="hall-of-fame" class="collapse">
		<li>All time goaler [regardless of wins or not]:
				<%= render partial: "user_info", locals: {user: all_time_goaler, field_name: :goals_scored_no, what: :goals} %></li>
		
		<li>All time winner[counting only wins]:
			<%= render partial: "user_info", locals: {user: all_time_winner, field_name: :wins_no, what: :wins} %></li>
		
		<li>Shortest win [by number of minutes played]: <%= shortest_win_minutes %></li>
		
		<li>Longest win [by number of minutes played]: <%= longest_win_minutes %></li>
		
		<li>Most popular team [most games played together - regardless of winning or losing]: 
			<%= render partial: "team_info", locals: {team: most_popular_team, field_name: :games_played_no, what: :"popularity score"}%>
		</li>

		<li>Least popular team [regardless of winning or loosing]:
			<%= render partial: "team_info", locals: {team: least_popular_team, field_name: :games_played_no, what: :"popularity score"}%>
		</li>
	</ul>
</section>