<section>
	<h3 id="rankings-title" data-target="#rankings" data-toggle="collapse">
		Rankings
	</h3>
	
	<ul id="rankings" class="collapse">
		<li data-target="#teams-by-number-of-wins-ranking" data-toggle="collapse">
			Teams by number of wins
		</li>
		<section id="teams-by-number-of-wins-ranking" data-toggle="collapse">
			<%= render partial: "team_list", locals: {teams: teams_by_wins, field_name: :wins_no, what: :wins} %>
		</section>

		<li data-target="#teams-by-number-of-goals-ranking" data-toggle="collapse">
			Teams by number of goals [regardless of wins or not]
		</li>
		<section id="teams-by-number-of-goals-ranking" data-toggle="collapse">
			<%= render partial: "team_list", locals: {teams: teams_by_goals, field_name: :goals_scored_no, what: :goals} %>
		</section>

		<li data-target="#users-by-number-of-wins-ranking" data-toggle="collapse">
			Players by number of wins
		</li>
		<section id="users-by-number-of-wins-ranking" data-toggle="collapse">
			<%= render partial: "user_list", locals: {users: users_by_wins, field_name: :wins_no, what: :wins} %>
		</section>
		
		<li data-target="#users-by-number-of-goals-ranking" data-toggle="collapse">
			Players by number of goals [regardless of wins or not]
		</li>
		<section id="users-by-number-of-goals-ranking" data-toggle="collapse">
			<%= render partial: "user_list", locals: {users: users_by_goals, field_name: :goals_scored_no, what: :goals} %>
		</section>
	</ul>
</section>