<section>
	<h3 data-target="#selected-user" data-toggle="collapse">
		Selected user (except yourself)
	</h3>

	<section id="selected-user" data-toggle="collapse">
		<%= render 'user_name_form' %>
	</section>

</section>