<ol>
	<% teams.each do |team| %>
		<li> with <%= team.team_statistic.send(field_name)  %> <%= what %>:
			<ul>
				<% team.users.each do |user| %>
					<li> <%= user.name %> </li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ol>