<section id="user-statistics">
	<ul>
		<% set_data_for_user %>
		<li>Total number of games played: <%= games_no %></li>
		<li>Total number of goals scored: <%= goals_no %></li>
		<li>Total amount of time spent playing: <%= time_played %></li>
		<li>Average amount of time/game: <%= avg_time %></li>
		<li>Average number of goals scored per game: <%= avg_goals %></li>
		<li>Top 3 most frequent team members:
			<ol> 
				<% three_most_frequent.each do |team_member, frequency| %>
					<li><%= team_member.name %> (played <%= frequency %> times)</li>
				<% end %>
			</ol>
		</li>
	</ul>	
</section>