<section id="selected-user-form">
	<%= form_for(all_statistics_path, method: "post") do %>		
		<%= label_tag :name %>
	  <%= text_field_tag :name, '', autofocus: true %>
	  <%= submit_tag :show %>

	  <% if user_name_errors? or user_name_not_received? %>
			<%= render 'user_name_form_errors' %>
		<% else %>
			<%= render 'selected_user_name_display' %>
			<%= render 'user' %>
		<% end %>
	<% end %>
</section>