<h1>All Statistics</h1>
<main>
	<% if any_game_played? %>
		<% set_data_for_all %>
		<div class="container">
			<%= render 'selected_user' %>
			<%= render 'rankings' %>
			<%= render 'hall_of_fame' %>
		</div>
	<% else %>
		<h3>No game played yet!</h3>
	<% end %>
</main>

<section>
	<%=link_to "Back", statistics_path %>
</section>
