<h1>Own Statistics</h1>

<main>
	<% if any_game_played? %>
		<%= render 'user' %>
	<% else %>
		<h3>No game played yet!</h3>
	<% end %>
</main>

<section>
	<%=link_to "Back", statistics_path%>
</section>
