<div>
  <h1 class="form-title"> About </h1>

  <h3 class="form-title"> A brief history of Foosball</h3>
  <p>It all started with a box of matches in England.</p>
  <p>Harold S. Thornton invented and patented foosball as it is known today in 1923, although some patents exist as far back as the 1890s.
    Thornton got the idea for foosball from watching his favorite soccer team, the Spurs. He wanted to create a game that in some way mirrored soccer but could be played at home.</p>
  <p>It doesn't stop there.</p>
  <p>He gained inspiration for the game when he lay individual matches across the box of matches.
    Thus, the idea of foosball was born.</p>
  <p>Thornton's uncle took his nephew's idea to the United States to have it patented there in 1927.
    The name foosball was later derived from the German word for "football," a sport better known as soccer in the U.S.</p>
  <p>Alejandro Finisterre thought this game would be fun for children who couldn't play soccer, so this form of recreational game was created as a result.</p>

  <h3 class="form-title"> Rules of Foosball</h3>
  <p>Foosball is started when one of two players places the ball through a serving hole on the side of the table. The first to serve can be decided by a coin toss.</p>
  <p>Once the ball is served, players use their rod-controlled figures, or foosballers, to hit the ball into their opponent's goal.</p>
  <p>Each side has four handlebars, so players can play one-on-one or two-on-two. If they play two on two, then generally each player controls two handlebars, either two defensive rows or two offensive rows.
    Any row can score.</p>
  <p>Spinning the handlebar 360 degrees to hit the ball is not allowed under organized foosball rules. However, in friendly matches, if both sides agree, then it is OK.</p>
  <p>The first person or team to score the predetermined number of goals, generally five or 10 depending on the scoreboard type on the table, is declared the winner.</p>
</div>
<%=link_to "Back", '/'%>
