<h1>Statistics</h1>
<main>
	<section>
		<%=link_to "Own Statistics", own_statistics_path %>
	</section>
	<section>
		<%=link_to "All Statistics", all_statistics_path %>
	</section>
	<section>
		<%=link_to "Back", '/'%>
	</section>
</main>
