<section class="container" id="new-game-form" style="text-align:center">

  <% if errors %>
    <section id="new-game-form-errors">
      Errors:
      <ol id="new-game-form-errors">
        <% new_game_errors_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ol>
    </section>
  <% end %>

  <div class="row">
    <div class="col" style="color: #fff">
      <%= form_for(play_path, method: "post") do %>
        <%= label_tag :team1 %> <br>
        <%= text_field_tag :team1, '', autofocus: true %> <br>
        <%= label_tag :user11 %> <br>
        <%= text_field_tag :user11 %> <br>
        <%= label_tag :user12 %> <br>
        <%= text_field_tag :user12 %>
    </div>
    <div class="col" style="color: #fff">
      	<%= label_tag :team2 %> <br>
        <%= text_field_tag :team2 %> <br>
        <%= label_tag :user21 %> <br>
        <%= text_field_tag :user21 %> <br>
        <%= label_tag :user22 %> <br>
        <%= text_field_tag :user22 %> <br>
    </div>
	 </div>
        <br>

		  <%= submit_tag :Start %>
		<% end %>
</section>
