<div>
	<div class="form-field" style="padding-bottom: 10px">
		<div>
			<h3 class="form-title"> Team <%= team_name %> </h3>
		</div>
		<div><strong>Score:<span id="team-<%= team_no %>-score-<%= @user11.id %>">0</span></strong></div>
	</div>

	<div>
		<%= render partial: "user", locals: {user: user1, co_user: user2, user_no: 1, team_no: team_no} %>
		<%= render partial: "user", locals: {user: user2, co_user: user1, user_no: 2, team_no: team_no} %>
	</div>
</div>
