<div>
	<div class="form-field" style="padding-bottom: 5px">
		<%=image_tag user.gravatar_url, { width: 30, height: 30, class: "rounded-icon" }%>
		<strong id="team-<%= team_no %>-user-<%= user_no %>-<%= @user11.id %>"><%= user.name %></strong>
	</div>
	<div>
		<button onclick="goal(this)" id="<%= team_no %>-<%= user_no %>-<%= @user11.id %>" class="<%= @user11.id %>">Goal</button>
		<button onclick="ownGoal(this)" id="<%= team_no %>-<%= user_no %>-<%= @user11.id %>" class="<%= @user11.id %>">Own Goal</button>
	</div>
	<br>
</div>
