
<div class="log-in" style="padding-top: 3%">
  <h1 class="form-title"><%= params[:winner1] %> and <%= params[:winner2] %> have won!</h1>
  <h5 class="form-field"><%= congratulations %></h5>
</div>

<div class="log-in" style="padding-top: 2%">
  <h1 class="form-title">For those who didn't win:</h1>
  <h5 class="form-field"><%= consolation %></h5>
</div>
