<section id="in" style="text-align:center">
	<br>
	<h1 class="form-title"> Foosball </h1>
	<br>
		<div class="left-half">
			<%= render partial: "team", locals: {team_name: @team1_name, team_no: 1, user1: @user11, user2: @user12} %>
		</div>

		<div class="right-half">
			<%= render partial: "team", locals: {team_name: @team2_name, team_no: 2, user1: @user21, user2: @user22} %>
		</div>

		<br>
		<br>
		<div>
			<div class="form-field" id="timer-<%= @user11.id %>" class="<%= @user11.id %>">00:00:00:0</div>
			<br>
			<button onclick="startOrPauseTimer(this)" class="<%= @user11.id %>">Start</button>
			<h2 id="timer-not-running-<%= @user11.id %>"></h2>
			<%=link_to "Abort Game", '/', :data => {:confirm => 'Abort game?'} %>
		</div>
</section>
