@import "bootstrap";

$orange: #f27900;
$gray: #3f5863;
$blue: #004d92;

html, body {
  height: 100%;
}

.page-container {
}

.rounded-icon {
  border-radius: 100%;
}

.big-container {
  background-image: image-url("bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 62px;
  height: 100%;
}

.landing-text {
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: Arial;
  color: #fff;
  //background-color: rgba(255, 255, 255, 0.9);
  //border-radius: 40px;
  //box-shadow: 0px 0px 5px $gray;
}

.landing-button {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin-top: 50px;
  color: $orange;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  width: 100px;
  border-color: #fff;
  text-align: center;
  background: #fff;

  &:hover {
    background-color: $gray;
    color: #fff;
    border-color: $gray;
  }

  &:active, &:focus, &:active:focus, &:focus:active, &.active {
    outline: none;
    box-shadow: none;
  }
}

.log-in {
  margin-top: 70px;
  text-align: center;
}

.form-field {
  color: #fff;
}

.form-title {
  color: #fff;
  font-weight: bold;
}

.field-space {
  margin-top: 10px;
}

.left-half{
  float:left;
  text-align: center;
  width: 50%;
}

.right-half{
  float: right;
  text-align: center;
  width: 50%;
}

.submit-button {
  align-items: center;
}
